# API settings
PORT=

# Postgresql
PG_AUTH_USER=
PG_HOST=
PG_DATABASE=
PG_PASSWORD=
PG_PORT=
PG_DIALECT=
DATABASE_URL="postgresql://name:mipassword@localhost:5432/database?schema=public"

# URL del backend
VITE_API_BASE_URL=

# Configuración SMTP (para enviar emails)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# JWT secret
JWT_SECRET=